---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from "../components/Badge.astro"
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import SocialMd from "../components/SocialMd.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10" >
					Hola👋, Soy Mateodev
					<a 
					href="https://linkedin.com/in/mateomartindev" 
					target="_blank" 
					rel="noopener"
					class="flex justify-center items-center ">
					<Badge>Disponible para trabajar</Badge></>
			</h1>
			<h2 class="text-2xl  text-wrap">
				<span class="text-yellow-200/90" class="opacity-80">+2 Años de experiencia.</span> 
				<span class="text-blue-300/100 ">Desarrollador web </span>. 
				<span>De Bogotá Colombia.</span> Especializado en crear aplicaciones únicas
			</h2>
			<nav class="flex gap-x-2">
					<SocialMd>
						<LinkedInIcon class="w-6 h-6"/>
						LinkedIn
					</SocialMd>
					 
				
			</nav>
		</section>
	</main>
</Layout>

