---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from "../components/Badge.astro"
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import SocialMd from "../components/SocialMd.astro"
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from "../components/icons/Mail.astro"
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro'
import BriefCaseIcon from '../components/BriefCase.astro';
import Footer from '../components/Footer.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio Mateodev - Desarrolador y programador web 2 a침os de experiencia"
		description="Contratar para crear tu aplicaci칩n web o m칩vil">
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<h1 
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10" >
					Hola游녦, Soy Mateodev
					<a 
					href="https://linkedin.com/in/mateomartindev" 
					target="_blank" 
					rel="noopener"
					class="flex justify-center items-center ">
					<Badge>Disponible para trabajar</Badge></a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span class="text-yellow-200/90" class="opacity-80">+2 A침os de experiencia.</span> 
				<span class="text-blue-300/100 ">Desarrollador web </span>. 
				<span>De Bogot치 Colombia.</span> Especializado en crear aplicaciones 칰nicas
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialMd 
						href="https://linkedin.com/in/mateomartindev">
						<LinkedInIcon class="size-4 md:size-6" />
							LinkedIn
					</SocialMd>
					<SocialMd 
						href="https://github.com/MateoMartindev"
						>
						<GitHubIcon class="size-4 md:size-6" />
						Github
					</SocialMd>
					<SocialMd 
						href="mailto:mateomdev7@gmail.com"
						>
						<MailIcon class="size-4 md:size-6" />
						mateomdev7@gmail.com
					</SocialMd>

					 
				
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia" class="">
			
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCaseIcon class="size-7"/>
				Experiencia laboral

			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="experiencia" class="">
			
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Projectos

			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer>
			<Footer />
		</SectionContainer>
	</main>
</Layout>

