---
import Layout from '../layouts/Layout.astro';

import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from "../components/icons/Mail.astro"
import BriefCaseIcon from '../components/BriefCase.astro';
import CodeIcon from '../components/icons/Code.astro';
import SchoolIcon from '../components/icons/SchoolIcon.astro'
import BooksIcon from '../components/icons/BooksIcon.astro'

import Badge from "../components/Badge.astro"
import SocialMd from "../components/SocialMd.astro"
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Footer from '../components/Footer.astro';
import Projects from '../components/Projects.astro';
import Studies from '../components/Studies.astro';
import ContentStudies from '../components/ContentStudies.astro';
import OtherStudies from '../components/OtherStudies.astro';
---


<Layout title="Portfolio Mateodev - Desarrolador y programador web 2 a침os de experiencia"
		description="Contratar para crear tu aplicaci칩n web o m칩vil">
	<main id="inicioporfolio" class="px-4">
		<SectionContainer class="py-20 pb-32">
			<div class="max-w-xl mb-4">
				<div class="flex gap-4 mb-4">
					<img 
						class="rounded-full w-20 h-20" 
						src="/public/png_phto.webp" 
						alt="mateomdev photo"
					/>
					<a 
					href="https://linkedin.com/in/mateomartindev" 
					target="_blank" 
					rel="noopener"
					class="flex justify-center items-center ">
					<Badge>Disponible para trabajar</Badge></a>
				</div>
			</div>
			<h1 
				class="text-white text-4xl font-bold flex flex-row gap-x-4 " 
				>
					Hola游녦, Soy Mateodev
					
					
			</h1>

			<h2 class="text-xl text-wrap max-w-lg mt-6">
				<span class="text-[#28cfba] opacity-80">+2 A침os de experiencia.</span>
				<span class="text-blue-300/100 "> Ingeniero de sistemas y Desarrollador web </span> 
				<span>de Bogot치, Colombia.</span> Especializado en crear aplicaciones web 칰nicas
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialMd 
						href="https://linkedin.com/in/mateomartindev">
						<LinkedInIcon class="size-4 md:size-6" />
							LinkedIn
					</SocialMd>
					<SocialMd 
						href="https://github.com/MateoMartindev"
						>
						<GitHubIcon class="size-4 md:size-6" />
						Github
					</SocialMd>
					<SocialMd 
						href="mailto:mateomdev7@gmail.com"
						>
						<MailIcon class="size-4 md:size-6" />
						mateomdev7@gmail.com
					</SocialMd>

					 
				
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia" class="">
			
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCaseIcon class="size-7"/>
				Experiencia laboral

			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos" class="">
			
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Projectos

			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="estudios" class="">
			<ContentStudies>
				<div class=" md:col-span-3 md:gap-10 md:m-x-4">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<SchoolIcon class="size-7"/>
				Estudios

			</h2>
			
			<Studies />
		</div>
		<div class=" md:col-span-3 md:gap-10 md:m-x-4">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BooksIcon class="size-7"/>
				Otros estudios

			</h2>
			
			<OtherStudies />


		</div>
			</ContentStudies>
		</SectionContainer>

		<SectionContainer>
			<Footer />
		</SectionContainer>
	</main>
</Layout>

