---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: 'Desarrollador web @ Serviwebkr',
    description: `
      Desarrollador Web con enfoque en frontend, especializado en WordPress.
      Colaboré en la implementación de plantillas y plugins para crear landing
      pages, home pages y sitios de comercio electrónico. Realicé
      personalizaciones y optimizaciones de rendimiento mediante la edición del
      código fuente. Destacado por mejorar la funcionalidad y estética de las
      tiendas en línea, manteniendo altos estándares de calidad en colaboración
      estrecha con el equipo.
    `,
    time: 'Febrero 2021 - Febrero 2024'
  },
  {
    title: 'Practicante ingeniería sistemas @ Banco de la república',
    description: `
      Desarrollo de dashboards interactivos utilizando HTML, CSS y JavaScript.
      Diseñé interfaces atractivas con Figma para una experiencia de usuario
      optimizada.
      Implementación de funcionalidades avanzadas en aplicaciones web con
      React, mejorando la interactividad y usabilidad.
      Creación de sistemas web con Node.js y SQL para automatizar procesos
      y gestionar indicadores clave de rendimiento.
    `,
    time: 'Febrero 2022 - Diciembre 2022'
  }
];
---
<ol class="relative border-s border-gray-200 ml-3">            
  {

      EXPERIENCE.map(experience=> (
        <li class="mb-10 ms-4">
          <ExperienceItem {... experience}/>
        </li>

    ))
  }      
</ol>

