<header class="flex justify-between items-center py-5 w-[1120px] mx auto">
    <img 
    class="rounded-full w-12 h-13" 
    src="/public/png_phto.png" 
    alt="mateomdev photo"
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Inicio</a>
        <a href="/about">Acerca</a>
        <a href="/projects">Projectos</a>
        <a href="/contact">Contacto</a>
    </nav>

</header>