

<style>
    .navbarscrolled {
        transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    }


    .bg-scrolled {
        background-color: rgb(255 255 255 / .5);
        backdrop-filter: blur(8px);
        border: 1px;
        border-style: solid; 
        border-radius: 20px;
        border-color: #ffffff1a;
        opacity: .990;
        
    }
    .active {

}
</style>

<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto fixed z-10">

    <nav id="navbar" class="navbarscrolled bg-default flex flex-row opacity-80 mt-6 px-2 py-1 fixed text-white rounded-3xl">
        <a class="text-sm md:text-xs px-2 md:px-5 opacity-1 hover:text-[#2dd4bf]" href="#inicioporfolio">Inicio</a>
        <a class="text-sm md:text-xs px-2 md:px-5 opacity-1 hover:text-[#2dd4bf]" href="#experiencia">Experiencia</a>
        <a class="text-sm md:text-xs px-2 md:px-5 opacity-1 hover:text-[#2dd4bf]" href="#proyectos">Proyectos</a>
        <a class="text-sm md:text-xs px-2 md:px-5 opacity-1 hover:text-[#2dd4bf]" href="#estudios">Estudios</a>
        <a class="text-sm md:text-xs px-2 md:px-5 opacity-1 hover:text-[#2dd4bf]" href="mailto:mateomdev7@gmail.com">Contacto</a>
    </nav>
</header>


<script>
        window.addEventListener('scroll', function() {
            const navbar = document.getElementById('navbar');
            if (navbar) { // Verificación para asegurar que navbar no es nulo
                if (window.scrollY > 0) {
                    navbar.classList.add('bg-scrolled');
                    navbar.classList.remove('bg-default');
                } else {
                    navbar.classList.add('bg-default');
                    navbar.classList.remove('bg-scrolled');
                }
            }
        });




</script>