<header class="flex justify-between">
    <img src="" alt="mateomdev photo">

    <nav>
        <a href="/">Inicio</a>
        <a href="/about">Acerca</a>
        <a href="/projects">Projectos</a>
        <a href="/contact">Contacto</a>
    </nav>

</header>