---

import StudiesItem from "./StudiesItem.astro";

const STUDIES = [
  {
    title: 'Bootcamp Frontend',
    formation: `
    Desarrollador frontend especializado en WordPress. Experiencia en la implementación de plantillas y plugins para landing pages y sitios de comercio electrónico. Habilidad en personalización y optimización de rendimiento. Destacado por mejorar la funcionalidad y estética de tiendas en línea, manteniendo altos estándares de calidad en colaboración con el equipo.
    `,
    time: 'Febrero 2021 - Febrero 2024',
  },
  {
    title: 'Profesional Ingeniería de sistemas',
    formation: `
      Desarrollo de dashboards interactivos utilizando HTML, CSS y JavaScript.
      Diseñé interfaces atractivas con Figma para una experiencia de usuario
      optimizada.
      Implementación de funcionalidades avanzadas en aplicaciones web con
      React, mejorando la interactividad y usabilidad.
      Creación de sistemas web con Node.js y SQL para automatizar procesos
      y gestionar indicadores clave de rendimiento.
    `,
    time: 'Febrero 2022 - Diciembre 2022',
  }
];
---
<ol class="relative border-s border-gray-200 ml-3">            
  {

      STUDIES.map(studies=> (
        <li class="mb-10 ms-4">
          <StudiesItem {... studies}/>
        </li>

    ))
  }      
</ol>

