---

import StudiesItem from "./StudiesItem.astro";

const STUDIES = [
  {
    title: 'Bootcamp Frontend',
    formation: `
    COLSUBSIDIO Y CYMETRIA GROUP S.A.S
    `,
    time: 'Febrero 2024 - Abril 2024',
  },
  {
    title: 'Profesional Ingeniería de sistemas',
    formation: `
      Universidad Cooperativa de Colombia
    `,
    time: 'Febrero 2018 - Septiembre 2023',
  }
];
---
<ol class="relative border-s border-gray-200 ml-3">            
  {

      STUDIES.map(studies=> (
        <li class="mb-10 ms-4">
          <StudiesItem {... studies}/>
        </li>

    ))
  }      
</ol>

